// Choose the theme that is specified in the themes section.
theme "ansi"

// Whether to show tips on startup
show_startup_tips false

// Whether to show release notes on first version run
show_release_notes false

// Whether to enable mouse hover effects and pane grouping functionality
advanced_mouse_actions true
