#!/usr/bin/env sh

export LANG=en_US.UTF-8
export EDITOR='nvim'

# xdg
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_BIN_HOME="$HOME/.local/bin"

# starship
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship.toml"
export STARSHIP_CACHE="$XDG_CACHE_HOME/starship"

# poetry
export POETRY_HOME="$XDG_CONFIG_HOME/pypoetry"
export POETRY_DATA_DIR="$XDG_CONFIG_HOME/pypoetry"
export POETRY_CACHE_DIR="$XDG_CONFIG_HOME/pypoetry"
export POETRY_CONFIG_DIR="$XDG_CONFIG_HOME/pypoetry"

# docker/ colima
export COLIMA_HOME="$XDG_CONFIG_HOME/colima"
export DOCKER_HOST="unix://$COLIMA_HOME/default/docker.sock"

# kind
export KIND_EXPERIMENTAL_PROVIDER=podman

# homebrew
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_BUNDLE_INSTALL_CLEANUP=1
export HOMEBREW_NO_AUTO_UPDATE=0
export HOMEBREW_AUTO_UPDATE_SECS=86400
export HOMEBREW_API_AUTO_UPDATE_SECS=450
export HOMEBREW_CLEANUP_MAX_AGE_DAYS=60
export HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=30
export HOMEBREW_COLOR=1
export HOMEBREW_DISPLAY_INSTALL_TIMES=1

# 1password ssh
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# zsh
export FPATH="$HOME/.zsh_site_functions:$FPATH"

if [ -d /opt/homebrew ]; then
    export FPATH="/opt/homebrew/share/zsh/site-functions:$FPATH"
    export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR="/opt/homebrew/share/zsh-syntax-highlighting/highlighters"
fi
