
export LANG=en_US.UTF-8
export EDITOR='vim'  # todo

# .config
export XDG_CONFIG_HOME="$HOME/.config"
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship.toml"

# poetry
export POETRY_HOME="$XDG_CONFIG_HOME/pypoetry"
export POETRY_DATA_DIR="$XDG_CONFIG_HOME/pypoetry"
export POETRY_CACHE_DIR="$XDG_CONFIG_HOME/pypoetry"
export POETRY_CONFIG_DIR="$XDG_CONFIG_HOME/pypoetry"

# homebrew
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_BUNDLE_INSTALL_CLEANUP=1

# zsh
export FPATH="$HOME/.zsh_site_functions:$FPATH"

if [ -d /opt/homebrew ]; then
    export FPATH="/opt/homebrew/share/zsh/site-functions:$FPATH"
    export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR="/opt/homebrew/share/zsh-syntax-highlighting/highlighters"
fi
