#!/usr/bin/env sh

b64() { echo -n "${1}" | base64; }

# todo: check if zsh
so() {
    if [ -f $HOME/.zshrc ]; then
        source $HOME/.zshrc
    fi
}

symlink() {
	if type gln &>/dev/null; then
		gln -svT "$1" "$2"
	else
		ln -sv "$1" "$2"
	fi
}

# todo: check for python/ js/ go > run dev command
dev() {
    echo "not implemented"
}

gs() {
    git status -sb
    if [[ $? != 0 ]];then
        echo; ls $@
    fi
}

gbn() {
	if [[ -d .git ]]; then
		git checkout -b "$1" && git push -u origin "$1"
	fi
}

cmtm() {
	if [[ -d .git ]]; then
		git commit -m "$1" -m "$2"
	fi
}

dotfiles() {
    cd $HOME/code/dotfiles
}

drs() {
    if [[ $1 == "" ]]; then hashtag="default"; else hashtag=$1; fi
    darwin-rebuild switch --flake $HOME/code/dotfiles#$hashtag
}
