**/.DS_Store
.config/fish/*
!.config/fish/functions
!.config/fish/abbreviations.fish
!.config/fish/config.fish
.config/pypoetry/*
!.config/pypoetry/config.toml
.config/zed/*
!.config/zed/*.json
.ignore/
.idea/
.ssh/*
!.ssh/config
Library/Application Support/Sublime Text/Packages/User/*
!Library/Application Support/Sublime Text/Packages/User/Package Control.sublime-settings
!Library/Application Support/Sublime Text/Packages/User/Preferences.sublime-settings
.env
