# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# SSH files
known_hosts
known_hosts.*
.ssh/podman-*

# Poetry directories
.poetry/artifacts
.poetry/cache
.poetry/VERSION
.poetry/bin
.poetry/pyproject.toml
.poetry/src
.poetry/venv